nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    font-size: 1.5rem;
    color: rgb(52, 52, 52);
    ul{
        list-style: none;
        display: flex;
    }
    li{
        margin: 10px;
    }
    .T{
        margin-left: 300px;
        margin-right: 300px;
        font-size: 2rem;
        text-decoration: underline;
        letter-spacing: 2.5px;
    }
    .P{
        font-weight: bold;
    }
    a{
        color: rgb(52, 52, 52);
    }
}